:root {
  --primary-color: #25354b;
  --secondary-color: #333;
  --background-color: #cecae0;
  --card-background-color: #f9f9f9;
  --text-color: #fff;
  --link-color: #00f;
  --hover-background-color: #555;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('bs.avif');
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
}

nav ul li a:hover {
  background-color: var(--hover-background-color);
}

.logo {
  max-height: 70px;
  margin-left: 30px;
}

.form-container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#successMessage {
  margin-top: 20px;
  background-color: #28a745;
  color: #fff;
  padding: 10px;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}
