:root {
    --primary-color: #25354b;
    --secondary-color: #333;
    --background-color: #cecae0;
    --card-background-color: #f9f9f9;
    --text-color: #fff;
    --link-color: #00f;
    --hover-background-color: #555;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('bs.avif');
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
  }
  

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a:hover {
    background-color: var(--hover-background-color);
}

.logo {
    max-height: 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); /* Ajusta a altura para ocupar a tela inteira menos a altura do navbar */
}

.professional-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.professional-card:hover {
    transform: scale(1.05);
}

.professional-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.professional-name {
    margin-top: 15px;
    font-size: 1.5em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: left;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}
